h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

h2 {
  color: pink;
  font-family: verdana;
  font-size: 200%;
}

  h3 {
  color: purple;
  font-family: verdana;
  font-size: 100%;
}
