<!DOCTYPE html>
  <html>
      <head>
        <title> Silver & Seed: Home </title>
        <link rel="stylesheet" type="text/css" href="main.css">
      </head>
    <body>

      <div class="grid-container">
        <div class="item1">
          <img src="S&S.png" alt="logo" width="400" height="100" class="center">
        </div>
          <div class="item2">Menu
            <ul>
              <li>About</li>
              <li>Shop</li>
              <li>Contact</li>
            </ul>
          </div>
            <div class="item3">
              <h2> Handmade in Devon </h2>
              <h3> By Georgina Morris </h3>
            </div>
            <div class="item4">
              <img src="georgie.png" alt="logo" width="200" height="200">
            </div>
              <div class="item5">Footer</div>
      </div>


    </body>

  </html>
